.projects-tab-wrapper {
    padding-top:5vh;
    height:100%;
    width:100%;
    
    .projects-wrapper {
        height:100%;
        width:100%;
        display:grid;
        gap: 20px 20px;
        grid-template-columns: 320px 320px 320px;

        strong {
          font-weight:1000;
        }

        .icon-wrapper {
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          text-align: center;
          z-index: 1;
          bottom:21px;
        }

        .flip-card {
            background-color: transparent;
            width: 320px;
            height: 320px;
            //border: 1px solid #f1f1f1;
            perspective: 1000px; /* Remove this if you don't want the 3D effect */
          }
          
          /* This container is needed to position the front and back side */
          .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
          }
          
          /* Do an horizontal flip when you move the mouse over the flip box container */
          .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
          }
          
          /* Position the front and back side */
          .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            transform: rotateX(0deg);
          }

          .flip-card-front{
              color: #FFF;
              
              .card-body {
                text-align: center !important;
                line-height:277px;
                font-weight:700;
                font-size: 20px;
              }
              

              #pathcha {
                background-color: #4B245A;
              }

              #hype-4-less{
                  background-color: #e06666ff;
              }

              #my-board{
                background-color: #333333;
              }
              
              #covid-bot {
                  background-color: #999999;
              }

              #foodprint {
                background-color: #F6B26B;
              }

              #simpad {
                background-color: #555555;
              }

              #uweacc {
                background-color: #682A96;
              }

              #labyrinth {
                background-color: #000;
              }
          }
          
          /* Style the back side */
          .flip-card-back {
            background-color:#FFF;
            transform: rotateY(180deg);
          }
    }

    .card {
        width:320px;
        height:320px;
    }

    .card-body{
        text-align: left !important;
    }

    .flip-card-front .card {
        background-color: #4B245A;
        width:320px;
        height:320px;
        justify-content: center;
    }
}