.profile-content-wrapper {

    
    .nav-tabs {
        min-width:1000px;
        justify-content: center;
        align-items: center;
        height:60px;
    }

    .nav-item {
        margin:0;
        height:60px;

        button {
            height:60px;
        }
    }

    .tab-content {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        height:fit-content;
        min-height:fit-content;
    }
}